* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.pagina {
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(33, 33, 33);
    height: 100%;
}

.coluna1,
.coluna2 {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.nome_campo {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.escrita_nome_campo {
    color: rgb(53, 53, 53);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.escrita_nome_campo_resultado {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}