.page-grid {
    display: flex;
    justify-content: center;
    padding: 12vh;

    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(255, 255, 255) 52%, rgba(235, 235, 235, 1) 100%);
}

.page-grid-top {
    display: grid;
    gap: 15vh;
    grid-template-columns: 50vh 60vh;
    text-align: center;
    padding: 8vh;
}

.page-links {
    display: flex;
    width: 45vh;
    height: 19vh;
    border-radius: 4vh;

    border: 1vh #be2121 outset;

    align-items: center;
    justify-content: center;

    background-color: #d10b17;

    -webkit-transform: perspective(1vh) translateZ(0);
    transform: perspective(1vh) translateZ(0);

    box-shadow: 0vh 0vh 5vh transparent;
    -webkit-transition-duration: 0.1s;

    transition-duration: 0.1s;

    -webkit-transition-property: transform;
    transition-property: transform;
}


.page-links:hover,
.page-links:active {
    display: flex;
    height: 19vh;

    align-items: center;
    justify-content: center;

    background-color: #b60410;

    border-radius: 3vh;

    box-shadow: rgb(136, 136, 136) 0.5vh 0.5vh 2vh;
    -webkit-transition: 0.1s;

    -webkit-transform: scale(5);
    transform: scale(1.01);
}

.page-links-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 3vh;

    text-decoration: none;

    color: var(--cor-secundaria);
}

@media (max-width: 768px) {

    .page-grid {
        display: flex;
        justify-content: center;
        padding: 12vh;
        min-width: 77.2vh;

        background: rgb(255, 255, 255);
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(255, 255, 255) 52%, rgba(235, 235, 235, 1) 100%);
    }

    .page-grid-top {
        display: grid;
        gap: 15vh;
        grid-template-columns: auto;
        text-align: center;
        padding: 8vh;
    }

    .page-links {
        display: flex;
        width: 45vh;
        height: 19vh;
        border-radius: 4vh;
    
        border: 1vh #be2121 outset;
    
        align-items: center;
        justify-content: center;
    
        background-color: #d10b17;
    
        -webkit-transform: perspective(1vh) translateZ(0);
        transform: perspective(1vh) translateZ(0);
    
        box-shadow: 0vh 0vh 5vh transparent;
        -webkit-transition-duration: 0.1s;
    
        transition-duration: 0.1s;
    
        -webkit-transition-property: transform;
        transition-property: transform;
    }

    .page-links:hover,
    .page-links:active {
        display: flex;
        height: 19vh;
    
        align-items: center;
        justify-content: center;
    
        background-color: #b60410;
    
        border-radius: 3vh;
    
        box-shadow: rgb(136, 136, 136) 0.5vh 0.5vh 2vh;
        -webkit-transition: 0.1s;
    
        -webkit-transform: scale(5);
        transform: scale(1.01);
    }

    .page-links-text {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-size: 3vh;
    
        text-decoration: none;
    
        color: var(--cor-secundaria);
    }

}