@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Raleway&family=Ubuntu:wght@300;700&display=swap');

:root {
    --cor-primaria: #111111;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-adicional: #1a1a1a;
    --cor-linhas: #787878;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    justify-content: center;

    color: var(--cor-secundaria);
}

.header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 0.5%;
    text-align: center;

    background-color: var(--cor-primaria);

    font-family: 'Krona One', sans-serif;
    font-size: 10px;
}

.header-botao {
    text-decoration: none;

    padding: 5px;

    margin: 20px;
    font-size: 15px;

    border-radius: 5px;

    color: var(--cor-adicional);
    background-color: var(--cor-secundaria);
}

.header-botao:hover {
    text-decoration: none;

    padding: 5px;

    margin: 20px;
    font-size: 15px;

    border-radius: 5px;

    color: var(--cor-adicional);
    background-color: rgb(228, 228, 228);
}

.header-logo {
    margin: 20px;
}

.header-title {
    padding: 5px;
}

.header-img {
    width: 100px;
    padding: 10px 0px 0px 0px;
}


.page {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

    height: 550px;
    padding: 5%;
}

.page-coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
    padding: 20px;
    border-radius: 20px;

}

.page-coluna-titulo {
    color: var(--cor-primaria);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    padding: 10px;
}

.page-divisao {
    display: flex;
    flex-direction: column;

    margin: 6px;

    font-family: 'Raleway', sans-serif;
    color: var(--cor-primaria);
}

.input {
    width: 250px;
    height: 25px;

    border: 2px solid;
    border-radius: 5px;

    font-family: 'Raleway', sans-serif;
    color: var(--cor-primaria);
    font-size: 15px;
}

.input-1 {
    display: inline-block;
    text-align: left;

    padding: 10px;

    width: 250px;
    height: 250px;

    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;

    font-family: 'Raleway', sans-serif;
    color: var(--cor-primaria);
    font-size: 16px;
}

.enviar {
    display: flex;
    flex-direction: column;
}

.enviar-botao {
    width: 80px;
    height: 30px;
    font-size: 15px;

    background-color: #1c1c1c;
    color: aliceblue;
}

.footer {
    padding: 1%;
    text-align: center;

    background-color: var(--cor-primaria);

    font-family: 'Krona One', sans-serif;
    font-size: 10px;
}