.page {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

    height: 550px;
    padding: 5%;

    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(255, 255, 255) 52%, rgba(235, 235, 235, 1) 100%);
}

.page-coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
    padding: 20px;
    border-radius: 20px;

}

.page-coluna-titulo {
    color: var(--cor-primaria);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    padding: 10px;
}

.page-divisao {
    display: flex;
    flex-direction: column;

    margin: 6px;

    font-family: 'Raleway', sans-serif;
    color: var(--cor-primaria);
}

.input {
    width: 250px;
    height: 25px;

    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;

    font-family: 'Raleway', sans-serif;
    color: var(--cor-primaria);
    font-size: 15px;

    background-color: white;

    box-shadow: #b2b2b2 1px 1px 3px;
}

.input-1 {
    display: inline-block;
    text-align: left;

    padding: 10px;

    width: 250px;
    height: 250px;

    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;

    font-family: 'Raleway', sans-serif;
    color: var(--cor-primaria);
    font-size: 16px;

    background-color: white;

    box-shadow: #b2b2b2 1px 1px 3px;
}

.enviar {
    display: flex;
    flex-direction: column;
}

.enviar-botao {
    width: 80px;
    height: 30px;
    font-size: 15px;

    background-color: #1c1c1c;
    color: aliceblue;
}