.page {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 85vh;
    padding: 10vh;
}

.page-coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5vh;
    font-size: 3vh;
}

.page-coluna-titulo {
    color: var(--cor-primaria);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2vh;
}

.page-divisao {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color: var(--cor-primaria);
}

.page-divisao1 {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Raleway', sans-serif;
    color: var(--cor-primaria);
}

.input {
    box-sizing: border-box;
    padding-left: 1vh;
    width: 50vh;
    height: 5vh;
    border: 1px solid rgb(201, 201, 201);
    box-shadow: #b2b2b2 1px 1px 3px;
    border-radius: 1vh;
    font-family: 'Raleway', sans-serif;
    color: var(--cor-primaria);
    font-size: 2vh;
}

.enviar {
    display: flex;
    flex-direction: column;
}

.enviar-botao {
    width: 12vh;
    height: 5vh;
    font-size: 2vh;
    border: none;
    background-color: #222222;
    color: aliceblue;
}

@media (max-width: 768px) {
    .page {
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        height: 85vh;
        padding: 10vh;
    }

    .page-coluna {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 5vh;
        font-size: 3vh;
    }

    .page-coluna-titulo {
        color: var(--cor-primaria);
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-size: 2vh;
    }

    .page-divisao {
        display: flex;
        flex-direction: column;
        font-family: 'Raleway', sans-serif;
        color: var(--cor-primaria);
    }

    .input {
        width: 50vh;
        height: 5vh;
        border: 1px solid rgb(201, 201, 201);
        box-shadow: #b2b2b2 1px 1px 3px;
        border-radius: 1vh;
        font-family: 'Raleway', sans-serif;
        color: var(--cor-primaria);
        font-size: 2vh;
    }

    .enviar {
        display: flex;
        flex-direction: column;
    }

    .enviar-botao {
        width: 12vh;
        height: 5vh;
        font-size: 2vh;
        border: none;
        background-color: #222222;
        color: aliceblue;
    }

}