@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Ubuntu:wght@300;700&display=swap');

:root {
    --cor-primaria: #111111;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-adicional: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    justify-content: center;

    color: var(--cor-secundaria);
}

.header {
    padding: 1%;
    text-align: center;

    background-color: var(--cor-primaria);

    font-family: 'Krona One', sans-serif;
    font-size: 10px;
}

.header-title {
    padding: 5px;
}

.header-img {
    width: 100px;
    padding: 10px 0px 0px 0px;
}

.page{
    display: flex;
    flex-direction: row;
}