@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Ubuntu:wght@300;700&display=swap');

:root {
    --cor-primaria: #111111;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-adicional: #1a1a1a;
    --cor-linhas: #787878;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    justify-content: center;
    color: var(--cor-secundaria);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.5%;
    text-align: center;

    background: rgb(236, 32, 32);
    background: linear-gradient(90deg, rgba(236, 32, 32, 1) 0%, rgba(218, 115, 0, 1) 51%, rgba(255, 237, 0, 1) 100%);

    font-family: 'Krona One', sans-serif;
    font-size: 10px;
}

.header-botao {
    text-decoration: none;

    padding: 5px;

    margin: 20px;
    font-size: 15px;

    border-radius: 5px;

    color: var(--cor-secundaria);
    box-shadow: 2px 2px 6px #800101;


}

.header-botao:hover {
    text-decoration: none;

    padding: 5px;

    margin: 20px;
    font-size: 15px;

    box-shadow: 5px 5px 3px #800101;
    -webkit-transition-duration: 0.1s;

}

.header-logo {
    margin: 20px;
}

.header-title {
    padding: 5px;
}

.header-img {
    width: 100px;
    padding: 10px 0px 0px 0px;
}

.footer {
    padding: 1%;
    text-align: center;

    background: rgb(236, 32, 32);
    background: linear-gradient(90deg, rgba(236, 32, 32, 1) 0%, rgba(218, 115, 0, 1) 51%, rgba(255, 237, 0, 1) 100%);

    font-family: 'Krona One', sans-serif;
    font-size: 10px;
}