@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Ubuntu:wght@300;700&display=swap');

:root {
    --cor-primaria: #111111;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-adicional: #1a1a1a;
    --cor-linhas: #787878;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    justify-content: center;
    color: var(--cor-secundaria);
    min-width: none;
    max-width: 214vh;
    margin: 0;
    padding: 0;
}

.header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-evenly;

    max-width: 214vh;
    min-width: 100vh;

    padding: 0.1vh;
    text-align: center;

    background: rgb(236, 32, 32);
    background: linear-gradient(90deg, rgba(236, 32, 32, 1) 0%, rgba(218, 115, 0, 1) 51%, rgba(255, 237, 0, 1) 100%);

    font-family: 'Krona One', sans-serif;
    font-size: 2vh;
}

.header-botao {
    text-decoration: none;

    padding: 1vh;
    margin: 1vh;

    font-size: 2.5vh;

    border-radius: 5px;

    color: var(--cor-secundaria);
    box-shadow: 2px 2px 6px #800101;


}


.header-botao:hover {
    text-decoration: none;

    padding: 1vh;
    margin: 1vh;

    font-size: 2.5vh;

    box-shadow: 5px 5px 3px #800101;
    -webkit-transition-duration: 0.1s;

}

.header-logo {
    margin: 3vh;
}

.header-title {
    padding: 3vh;
}

.header-img {
    width: 20vh;
}

.footer {
    padding: 3vh;
    text-align: center;

    background: rgb(236, 32, 32);
    background: linear-gradient(90deg, rgba(236, 32, 32, 1) 0%, rgba(218, 115, 0, 1) 51%, rgba(255, 237, 0, 1) 100%);

    font-family: 'Krona One', sans-serif;
    font-size: 1.5vh;
}

@media (max-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
    }

    .header {
        display: grid;
        grid-template-columns: auto;

        gap: 2vh;

        align-items: center;
        justify-content: space-evenly;

        max-width: 214vh;
        min-width: 100vh;

        padding: 0.1vh;
        text-align: center;

        background: rgb(236, 32, 32);
        background: linear-gradient(90deg, rgba(236, 32, 32, 1) 0%, rgba(218, 115, 0, 1) 51%, rgba(255, 237, 0, 1) 100%);

        font-family: 'Krona One', sans-serif;
        font-size: 2vh;
    }

    .header-logo {
        padding: 2hv;
        margin: 0px;
    }

    .header-title {
        padding: 0px;
        margin: 0px;
        font-size: 2vh;
    }

    .header-img {
        width: 10vh;
        padding: 0px;
        margin: 0px;
    }

    .header-botao {
        text-decoration: none;

        padding: 0.3vh;
        margin: 0px;

        font-size: 1vh;

        border-radius: 5px;

        color: var(--cor-secundaria);
        box-shadow: 2px 2px 6px #800101;
    }

    .header-botao:hover {
        text-decoration: none;

        padding: 0.3vh;
        margin: 0px;

        font-size: 1vh;

        border-radius: 5px;

        color: var(--cor-secundaria);
        box-shadow: 2px 2px 6px #800101;
    }

    .footer {
        padding: 1%;
        text-align: center;

        background: rgb(236, 32, 32);
        background: linear-gradient(90deg, rgba(236, 32, 32, 1) 0%, rgba(218, 115, 0, 1) 51%, rgba(255, 237, 0, 1) 100%);

        font-family: 'Krona One', sans-serif;
        font-size: 10px;
    }
}