    @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Ubuntu:wght@300;700&display=swap');

    :root {
        --cor-primaria: #111111;
        --cor-secundaria: #F6F6F6;
        --cor-terciaria: #22D4FD;
        --cor-adicional: #1a1a1a;
        --cor-linhas: #787878;
    }

    * {
        margin: 0;
        padding: 0;
    }

    body {
        box-sizing: border-box;
        justify-content: center;
        color: var(--cor-secundaria);
        margin: 0;
        padding: 0;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0.5%;
        text-align: center;

        background: rgb(236, 32, 32);
        background: linear-gradient(90deg, rgba(236, 32, 32, 1) 0%, rgba(218, 115, 0, 1) 51%, rgba(255, 237, 0, 1) 100%);

        font-family: 'Krona One', sans-serif;
        font-size: 10px;
    }

    .header-botao {
        text-decoration: none;

        padding: 5px;

        margin: 20px;
        font-size: 15px;

        border-radius: 5px;

        color: var(--cor-adicional);
        background-color: var(--cor-secundaria);
    }

    .header-botao:hover {
        text-decoration: none;

        padding: 5px;

        margin: 20px;
        font-size: 15px;

        border-radius: 5px;

        color: var(--cor-adicional);
        background-color: rgb(228, 228, 228);
    }

    .header-logo {
        margin: 20px;
    }

    .header-title {
        padding: 5px;
    }

    .header-img {
        width: 100px;
        padding: 10px 0px 0px 0px;
    }

    .page-grid {
        display: flex;
        justify-content: center;
        padding: 1%;
    }

    .page-grid-top {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 3%;
    }

    .page-links {
        display: flex;
        margin: 50px;
        width: 280px;
        height: 125px;

        border-radius: 10px;

        align-items: center;
        justify-content: center;

        background-color: #d10b17;
    }


    .page-links:hover {
        display: flex;
        margin: 50px;
        width: 280px;
        height: 125px;

        align-items: center;
        justify-content: center;

        background-color: var(--cor-adicional);
    }

    .page-links:active {
        box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
        transform: translateY(1px);
    }

    .page-links-text {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        font-size: 30px;

        text-decoration: none;

        color: var(--cor-secundaria);
    }

    .footer {
        padding: 1%;
        text-align: center;

        background: rgb(236, 32, 32);
        background: linear-gradient(90deg, rgba(236, 32, 32, 1) 0%, rgba(218, 115, 0, 1) 51%, rgba(255, 237, 0, 1) 100%);

        font-family: 'Krona One', sans-serif;
        font-size: 10px;
    }